extends layout

block content
  div.smallwrap
    div
      p 
        | who doesn't like after hours? so i thought i'd make a site that does
        | nothing except play the relevant songs from the soundtrack on repeat depending
        | on the actual time of day. The score was written by Howard Shore too?!
        | fancy that. Hope you enjoy! 

block footer
  include fullfooter.jade

block scripts
  //- nothing here